.country{
  border: 2px solid yellow;
  border-radius: 20px;
}


.countryVisited{
  background-color: bisque;
}

.country img{
  width: 320px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}